/* Stylesheet for html pages */
.index-centre-div-logo{
    background-image: url("/bg2.png");
    background-size: cover; 
    background-position: center; 
    width: auto;
    height: 700px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
}
.pres-img{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
}
.centre-vid{
    max-width: fit-content;
    width: 300px;
    height: 600px;
    z-index: 4;
}
.index-centre-div-btn {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    z-index: 4;
}

body, html {
    background-color: #ffcafd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
    z-index: 4;
}

.indexlogo {
    padding-top: 200px;
    padding-bottom: 20px;
    width: 300px;
    height: 125x;
    align-self: auto;
    z-index: 4;
}

.presimg {
    border-radius: 25px;
    margin-top: 150px;
    width: 300px;
    height: 300px;
    align-self: auto;
    z-index: 4;
}

.a-href {
    width: 200px;
    height: 75px;
    cursor: pointer;
    z-index: 4;
}

.ulbutton {
    color: azure;
    width: 100px;
    height: 50px;
    z-index: 4;
}

/* Hearts */

.hearts{

    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top:-1vh;
    transform: translateY(0%);
    left: 0;
    
    animation: fall 5s ease-in infinite;
}
@keyframes fall {
    to{
        transform: translateY(250vh);
    }
}